<% url = product_url(product, taxon_id: @taxon.try(:id)) %>
<div class="product">
	<div class="product-thumb-info">
		<div class="product-thumb-info-image">
			<%= link_to image_tag(product.images.first.attachment.url(:product)), url, itemprop: 'url', class: "img-responsive" %>
		</div>
		<div class="product-thumb-info-content">
			<span class="price pull-right"><%= display_price(product) %></span>

			<h4><a href="shop-product-detail2.html"><%= link_to truncate(product.name, length: 50), url, title: product.name %></a></h4>
		</div>
	</div>
</div>
