<div class="container padding">
	<div class="row">
		<div class="col-md-3">
			<aside class="sidebar">
   				<%= render partial: 'spree/shared/taxonomies' %>
  				<%= render partial: "spree/shared/filters" %>
			</aside>
		</div>
		<div class="col-md-9">
			
			<div class="catalog">
				<div class="toolbar clearfix">
					<p class="pull-left">Showing 1-12 of 50 results</p>
				</div>

				<% if @products.empty? %>
      				<h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
    			<% else %>
      				<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    			<% end %>
								
		   </div>
		</div>
	</div>
</div>