<footer id="footer" class="fifteen columns" data-hook>
  <div class="container">
    
    <div class="five columns" style="text-align:center;">
      <h5>The Basement London</h5>
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/terms">Terms & Conditions</a></li>
        <li><a href="mailto:thebasementlondon@hotmail.co.uk">thebasementlondon@hotmail.co.uk</a></li>
      </ul>
    </div>
    
    <div class="five columns" style="text-align:center;">
      <h5>Follow Us</h5>
      <ul>
        <li style="display:inline-block;margin-right:3px;"><%= link_to image_tag("facebook.png", :style => "width:32px;"), "https://www.facebook.com/thebasementlondon", :target => "_blank" %></li>
        <li style="display:inline-block;margin-right:3px;"><%= link_to image_tag("twitter.png", :style => "width:32px;"), "https://twitter.com/TBLstreetwear", :target => "_blank" %></li>
        <li style="display:inline-block;margin-right:3px;"><%= link_to image_tag("instagram.png", :style => "width:32px;"), "https://instagram.com/thebasementlondon/", :target => "_blank" %></li>
        <li style="display:inline-block;"><%= link_to image_tag("tumblr.png", :style => "width:32px;"), "http://thebasementlondon.tumblr.com/", :target => "_blank" %></li>
      </ul>
    </div>
    
    <div class="five columns" style="text-align:center;">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup" style="background:transparent;">
      <form action="//thebasementlondon.us8.list-manage.com/subscribe/post?u=ac429c5f974c2e08580dd2f9b&amp;id=1cb42ed007" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
      	<label for="mce-EMAIL">Subscribe to our mailing list</label>
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="display:inline-block;">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="display:inline-block;min-width:auto;font-size:11px;width:10%;">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_ac429c5f974c2e08580dd2f9b_1cb42ed007" tabindex="-1" value=""></div>
          </div>
      </form>
      </div>

      <ul>
        <li style="list-style-type: square;">Sign up to recieve even greater discounts on all products in store!</li>
        <li style="list-style-type: square;">Keep up with the news on the latest products!</li>
        <li style="list-style-type: square;">Stay informed about all special offers and promotions!</li>
      </ul>
    </div>
        
  </div>
</footer>