<div id="home-slider">
  <ul>
    <li style="background-image: url(<%= image_path 'slider/DeathtoStock_Wired5.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/DeathtoStock_Wired8.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/DeathtoStock_Wired9.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/DeathtoStock_Wired10.jpg' %>);">
    </li>
  </ul>
</div>