<div class="container">

<h1>The Story of The Basement London</h1>
 
 
<p>
Let's be honest, we've all found ourselves spending hours on end searching for the dopest and freshest clothing on the market. The cost of street wear in the UK can be expensive at times and it is difficult to find those pieces you want, at a price you can afford.
</p>

<p>
The Basement London provides you a place to shop for the best street wear clothing at a price you would believe we were giving it away.
</p>
<p>
My twin brother and I have always loved the street wear scene but this comes at a price. Our love turned into an addiction spending thousands of pounds a month on some of our favourite brands, including; Crooks and Castles, Mishka, Diamond Supply, Huf, 10 Deep, Obey, The Hundreds, Benny Gold, Billionaire Boys Club etc.
</p>
<%= image_tag("twinders.jpg") %>
<p> 
In 2013 we decided to turn our passion and knowledge of street wear clothing into a lifestyle. The Basement London was born (The UK's cheapest online street wear store).
</p>
<p>
The Basement London is a UK based online street wear retailer. Through our great connections we are able to provide you with the hottest street wear brands at around 50% OFF RRP. 
</p>
<p>
We are proud to say that all our products are 100% Authentic and Brand New.
Nothing is worse than finding out you've bought something fake.
</p>
<p>
Our stock is currently very limited so grab them while you can!!!
</p>
<p>
As the company develops we will look to increase our stock with a greater selection of sizes, brands and categories. This can only be achieved through the support of our customers.
</p>
<p>
THANK YOU!!!!!!!!
</p>
</div>