<div class="container static-page">

<h1>About Us</h1>

<p>
The Basement London is a one of a kind online street wear boutique dedicated to offering some of the leading street wear brands at prices up to 80% off.
</p>
<p>
We will continue to source and provide you with some of the most coveted street wear brands including; Crooks and Castles, Black Scale, I Love Ugly, The Quiet Life, Grand Scheme, INDCSN, Famous Stars and Straps, SSUR.
</p>
<p>
We only work with UK distributors for the brands we supply and all our products are 100% Authentic and Brand New.
</p>
<p> 
As the company develops we will look to increase our stock with a greater selection of sizes, brands and categories. This can only be achieved through the support of our customers.
</p>
<p>
With Thanks
</p>
<p>
The Basement London.


</div>