<h1>Terms & Conditions</h1>
<br>
<h2>Payment Information:</h2>
<p>
We accept most major credit or debit cards, including Visa, Mastercard, Switch and Solo. Payments are taken through to the Stripe page where you can choose between your credit/debit card.
</p>
<h2>Product Availability:</h2>
<p>
All our products that we have available online are up to date and we can guarantee product availability. In the unlikely circumstance that you purchase a product not avaliable, an alternative or a full refund will be offered. We reserve the right, without liability or prior notice, to revise, discontinue, or cease to make available any or all products or to cancel any order.
</p>

<h2>Delivery Policy:</h2>

<p>
All our products are posted via first class delivery. All orders will be posted within 1-2 days of payment being received (excluding weekends and national holidays), and you should receive your purchase between 2-4 working days.For worldwide shipping outside of the UK, please allow up to 10-14 working days to receive your purchase.
</p>
<h2>Returns Policy:</h2>

<p>
All items, including sale items, can be returned for exchange or refunded. In the case that you wish to return your order, for either a refund or exchange, please email; thebasementlondon.co.uk within 14 days of recieving your item(s).You are responsible for any return delivery charges; any delivery charges already paid are non-refundable. We recommend products are packaged well, and sent via recorded delivery as The Basement London can not be held accountable for damage or loss of items in transit.We reserve the right to withhold exchange, credit or refund if the item is visibly worn, damaged, marked, or is in any condition that we deem renders the item unsellable.
</p>
<h2>Privacy Policy:</h2>

<p>
When signing up to our mailing list or using our online shop you consent for us to process and use your personal data in accordance with our privacy policy. Our privacy policy applies to all users of this website.The Basement London collects personal data from visitors to the website who sign up to our online mailing list or who use the online shop. The Basement London does not hire, sell or reveal your personal data to any entity outside of the The Basement London Company. Personal data will only be shared if required to do so by law or in relation to a legal occurrence.We may use your email address to send you information regarding The Basement London products or events. You have the right to be removed from our online mailing list at anytime if you wish to be removed after signing up please email thebasementlondon.co.uk to inform us.
</p>
<h2>Security:</h2>

<p>
The Basement London online shop has a secure online website and payment facility to protect all personal data and financial data during transactions. However, you agree that while we do our uttermost to protect Internet data transmissions, no transaction is ensured guaranteed protection from access by unintended parties. In using the online shop you agree not to hold us responsible for such breaches of security, unless it is an act of negligence by The Basement London Company.
</p>